html,body{
	height: 100%;
	width: 100%;
	background-image: url('images/back.jpg');
 }
 .logo{
 	height: 500px;
 	width: 500px;
 }
 .mediaImg{
 	margin: 5px;
 	width: 50px;
 	height: 50px;
 }
 .about{

 	margin-top: 50px;
 	margin-bottom: 10px;
 	color: white;
 	font-size: 20px;
 	font-family: 'East Sea Dokdo', cursive;
 	left:0;
 	right:0;
 	margin: 0 auto;
 }
 .col-sm-2{
 	margin-top: 5px;
 }
 .logo{

 	position: absolute;
 	left:0;
 	right:0;
 	margin: 0 auto;
 }
 .psevdo{
 	height: 500px;
 }
