html,body{
	
	background-image: url('images/back.jpg');
 }
 .logo{
 	height: 500px;
 	width: 500px;
 }
 .mediaImg{
 	margin-top: 5px;
 	width: 50px;
 	height: 50px;
 }
 .about{
 	position: absolute;
 	left:0;
 	right:0;
 	margin: 0 auto;
 	margin-top: 510px;
 	width: 500px;
 }
 .logo{

 	position: absolute;
 	left:0;
 	right:0;
 	margin: 0 auto;
 }
